language: node_js # run Node.js
node_js:
  - "8" # Use Node.js v8 (current LTS)
cache:
  directories:
    - node_modules # cache node_modules
    - ~/.npm # cache .npm
    - ~/.cache # cache .cache
yarn: true # use yarn to install dependencies
before_script: npm run build && npm run export # export the site
script: npm test # run tests
deploy: # deploy and alias when a commit goes to master
  - provider: script
    script: npx now -A ./now.prod.json -t $TOKEN && npx now alias -A ./now.prod.json -t $TOKEN
    skip_cleanup: true
    on:
      branch: master # only in master
