language: node_js # run Node.js
node_js:
  - "8" # Use Node.js v8 (current LTS)
cache:
  directories:
    - node_modules # cache node_modules
    - ~/.npm # cache .npm
    - ~/.cache # cache .cache
yarn: true # use yarn to install dependencies
before_script: npm run build && npm run export # export the site
script: npm run ci # run tests
deploy:
  - provider: script
    script: npx now  --token $TOKEN # deploy exported files
    skip_cleanup: true
    on:
      all_branches: true # in all branches
  - provider: script
    script:  npx now alias --token $TOKEN # alias lastest deployment
    skip_cleanup: true
    on:
      branch: master # only in master
