@import url(//fonts.googleapis.com/css?family=Roboto:400);
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css);

@import 'libs/normalize.less';

body {
  background: #111;
  color: #fdfdfd;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #428bca;
  text-decoration: none;
  &:hover {
    color: #2a6496;
    text-decoration: underline;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.header {
  background: #111;
  color: #fdfdfd;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-bottom: .5rem;
  text-align: center;

  &__title,
  &__subtitle {
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
  }

  &__title {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  &__subtitle {
    font-size: 1rem;
    letter-spacing: 6px;
  }
}

.navigation {
  flex-basis: 25%;
  order: -1;

  a {
    color: #fdfdfd;
    text-decoration: none;
  }

  &__avatar {
    margin: 1rem auto 0;
    img {
      border-radius: 50%;
      box-shadow: 0 0 10px #fdfdfd;
      display: block;
      margin: 0 auto;
      max-width: 120px;
      width: 100%;
    }
  }

  &__social-networks {
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;
    a {
      font-size: 1.5rem;
      width: 1.5em;
    }
  }

  &__title {
    border-bottom: 1px solid #fdfdfd;
    color: #fdfdfd;
    font-weight: normal;
    margin: 1rem auto .5rem;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
  }

  &__contact {
    font-style: normal;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  &__content {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
    width: 90%;
    li {
      line-height: 2;
      margin: 0 auto;
      width: 95%;
      a {
        border-bottom: 1px solid #222;
        display: block;
        padding-left: 1rem;
        transition: border-bottom-color .5s;
        will-change: border-bottom-color;
        &:hover { border-bottom-color: #fdfdfd; }
      }
    }
  }

  @media (max-width: 900px) {
    display: none;
  }
}

.content {
  background: #fdfdfd;
  color: #111;
  flex-basis: 75%;

  article {
    padding: 0 1rem;
  }

  h3 {
    border-bottom: 1px solid #111;
    margin: 0;
    font-size: 2em;
  }

  p {
    margin: 1em 0;
  }

  @media (max-width: 900px) { flex-basis: 100%; }
}

.jobs,
.repos {
  display: flex;
  flex-wrap: wrap;
  &__title { flex-basis: 100%; }
}

.job,
.repo {
  flex-basis: 25%;
  text-align: center;
  padding: 1em 0;

  &__title {
    font-size: 1.25em;
    margin: 0;
  }

  &__screenshot {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    img {
      max-width: 100%;
    }
  }

  &__description {
  }

  &__link {
    background-color: #428bca;
    border-radius: 3px;
    box-shadow: inset 0 0 #428bca;
    color: #fdfdfd;
    display: inline-block;
    padding: .25em 2em;
    text-decoration: none;
    transition: box-shadow .06125s;
    will-change: box-shadow;
    &:hover {
      color: #fdfdfd;
      text-decoration: none;
    }
    &:active { box-shadow: inset 0 3px #2a6496; }
  }

  @media (max-width: 1188px) { flex-basis: 33%; }
  @media (max-width: 660px) { flex-basis: 50%; }
  @media (max-width: 500px) { flex-basis: 100%; }
}

.job {
  flex-basis: 33%;
  @media (max-width: 1100px) { flex-basis: 50%; }
  @media (max-width: 600px) { flex-basis: 100%; }
}
